
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ipay88">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity android:name="com.ipay.IpayAcitivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.ipay.IpayAcitivityR" android:configChanges="orientation|screenSize"/>
    </application>
</manifest>

  